<nz-alert nzType="info" nzMessage="Vaccine avaibility for Ahmedabad City (18-45 age group)"></nz-alert>

<nz-alert nzType="error" nzMessage="If slots are available records will be displayed with notification sound... "
  class="margin-top"></nz-alert>

<nz-tag [nzColor]="'success'" class="margin-top">
  <i nz-icon nzType="loading" nzTheme="outline"></i> <span> </span> Refreshing in {{counter}} Seconds
</nz-tag>

<nz-tag nzColor={{notiColor}} class="margin-top" (click)="enableSound()">
  {{notiAlert}}
</nz-tag>

<nz-table #headerTable [nzData]="listOfData" [nzFrontPagination]="false" [nzBordered]="true" [nzShowPagination]="false"
  [nzScroll]="{ y: '240px' }" [nzNoResult]="wait" class="margin-top">
  <thead>
    <tr>
      <th nzWidth="90px">Pincode</th>
      <th nzWidth="120px">Date</th>
      <th nzWidth="120px">Type</th>
      <th nzWidth="100px">Capacity</th>
      <th nzWidth="200px">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of headerTable.data">
      <td>{{ data.pincode }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.vaccine }}</td>
      <td>{{ data.available_capacity }}</td>
      <td>{{ data.name }}</td>
    </tr>
  </tbody>
</nz-table>

<nz-tag [nzColor]="'cyan'" class="margin-top">Created by Pratik Soni</nz-tag>

<ng-template #wait>Wait for refresh</ng-template>